$Green: #2a3e3f;
$Details-green: #689f8c;
$Soft-green: #eaecec;

body {
  font-family: "Gothic A1", sans-serif;
  background: url("./assets/BgRectangle.png") no-repeat;
  background-position: -1rem;
  background-size: 100vh;
  img {
    &:first-of-type {
      width: 3rem;
    }
  }
  form {
    position: fixed;
    top: 20vh;
    right: 20vw;
    background-color: $Soft-green;
    padding: 1rem 2rem;
    width: fit-content;
    border-radius: 30px;
    color: $Green;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    label {
      letter-spacing: 0.2em;
      font-size: 1rem;
      &:last-child {
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
    input {
      width: 20rem;
      height: 2rem;
      border-radius: 8px;
      border: none;
      box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
      margin: 1rem 0;
      &::placeholder {
        padding-left: 0.5rem;
      }
      &:focus {
        outline-color: $Details-green;
        &::placeholder {
          color: white;
        }
      }
      &[type="checkbox"] {
        width: auto;
        height: auto;
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
        margin-right: 0.3rem;
        cursor: pointer;
      }
      &:checked {
        color: magenta;
      }

      &:last-child {
        color: $Green;
        width: 5rem;
        margin-bottom: 0;
        align-self: center;
        border-radius: 5px;
        border-color: $Green;
        border-style: solid;
        background-color: $Soft-green;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: $Green;
          color: white;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
