body {
  font-family: "Gothic A1", sans-serif;
  background: url("./assets/BgRectangle.png") no-repeat;
  background-position: -1rem;
  background-size: 150vh;
}

body img:first-of-type {
  width: 5rem;
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
}

body img:nth-of-type(2) {
  width: 20rem;
  position: fixed;
  top: 25vh;
  left: 10vw;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body img:nth-of-type(2):hover {
  -webkit-filter: invert(85%);
          filter: invert(85%);
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body form {
  position: fixed;
  top: 20vh;
  right: 20vw;
  background-color: #eaecec;
  padding: 1rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  color: #2a3e3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

body form label {
  letter-spacing: 0.2em;
  font-size: 1rem;
}

body form label:last-child {
  font-size: 0.8rem;
  cursor: pointer;
}

body form input {
  width: 20rem;
  height: 2rem;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem 0;
}

body form input::-webkit-input-placeholder {
  padding-left: 0.5rem;
}

body form input:-ms-input-placeholder {
  padding-left: 0.5rem;
}

body form input::-ms-input-placeholder {
  padding-left: 0.5rem;
}

body form input::placeholder {
  padding-left: 0.5rem;
}

body form input:focus {
  outline-color: #689f8c;
}

body form input:focus::-webkit-input-placeholder {
  color: white;
}

body form input:focus:-ms-input-placeholder {
  color: white;
}

body form input:focus::-ms-input-placeholder {
  color: white;
}

body form input:focus::placeholder {
  color: white;
}

body form input[type="checkbox"] {
  width: auto;
  height: auto;
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  margin-right: 0.3rem;
  cursor: pointer;
}

body form input:checked {
  color: magenta;
}

body form input:last-child {
  color: #2a3e3f;
  width: 5rem;
  letter-spacing: 0.1em;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
  border-color: #2a3e3f;
  border-style: solid;
  background-color: #eaecec;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body form input:last-child:hover {
  background-color: #2a3e3f;
  color: white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */